<footer>
  <!-- footer -->
  <p><small><a href="#">feedback</a> &#183; <a href="#">api</a> &#183; <a href="#">github</a> &#183; <a href="#">legal</a> &#183; <a href="#">terms of use</a> &#183; <a href="#">privacy</a></small></p>
</footer>
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js">
</script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js">
</script>
</body>
</html>
