<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-default navbar-fixed-bottom">
          <ul class="nav navbar-nav  text-center">
            <li><a href="/help">Help</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="https://github.com/nzmTINKER/fancyNOTE">Github</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/privacy">Contact</a></li>
            <li><a href="/business">Business</a></li>
          </ul>
      </nav>
    </div>
  </div>
</div>
