<br/>
<div class="row pull-right">
  <div class="col-sm-12 pull-right">
        <ul class="list-inline">
          <li><a href="/help">Help</a></li>
          <li><a href="/api">API</a></li>
          <li><a href="https://github.com/nzmTINKER/fancyNOTE">Github</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
  </div>
</div>
