<footer>
  <!-- footer -->
  <p><small>This is the footer.</small></p>
</footer>
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js">
</script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js">
</script>
</body>
</html>
